<a href="https://colab.research.google.com/github/JoshDevx/EjerciciosPython/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

In [3]:
def leer_lista(lista):
  longitud = len(lista)
  mayor = max(lista)
  menor = min(lista)
  suma = sum(lista)
  print(f"La lista tiene {longitud} números, donde el mayor es {mayor} y el menor es {menor}. La suma de los valores es {suma}.")

In [4]:
leer_lista(lista)

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743.

In [5]:
#Tabla de multiplicar
valor_usuario = input('Ingrese un numero')
def tabla_multiplicar(valor_usuario):
  for i in range(1,11):
    print(f'{valor_usuario} x {i} = {int(valor_usuario)*i}')

Ingrese un numero5

In [6]:
tabla_multiplicar(valor_usuario)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
calcular_multiplos = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
def multiplos_de_3(calcular_multiplos):
  for i in range(len(calcular_multiplos)):
    if calcular_multiplos[i] % 3 == 0:
      print(calcular_multiplos[i])

In [8]:
multiplos_de_3(calcular_multiplos)

24
99

In [10]:
lista_numeros = [1,3,4,5,6,7,8,9,10]
cuadrados = map(lambda x: x**2,lista_numeros)

resultado = list(cuadrados)
print(resultado)

[1, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
cuenta  = 1
lista_notas = []
while cuenta <= 5:
  nota = int(input('Ingrese una nota'))
  lista_notas.append(nota)
  cuenta += 1
print(lista_notas)

Ingrese una nota12
Ingrese una nota15
Ingrese una nota16
Ingrese una nota18
Ingrese una nota20
[12, 15, 16, 18, 20]

In [13]:
def detalle_notas(lista_notas_participante):
  calculo_1 = sum(lista_notas_participante) / len(lista_notas_participante)
  calculo_2 = max(lista_notas_participante)
  calculo_3 = min(lista_notas_participante)
  return f'El promedio de las notas es:{calculo_1}, la nota mamxima es:{calculo_2} y la nota minima es:{calculo_3}'

resultados_notas = detalle_notas(lista_notas)
print(resultados_notas)

El promedio de las notas es:16.2, la nota mamxima es:20 y la nota minima es:12

In [14]:
notas_alumnos = [14,16,20,12]

In [15]:
def rendimiento_estudiante(lista_notas_estudiantes):
  nota_maxima = max(lista_notas_estudiantes)
  nota_minima = min(lista_notas_estudiantes)
  media = sum(lista_notas_estudiantes) / len(lista_notas_estudiantes)
  if media >= 13:
    situacion =  'Aprobado'
  elif media >= 14:
    situacion = 'Desaprobado'
  return f'El estudiante obtuvo una media de {media}, con la mayor nota de {nota_maxima} puntos y la menor nota de {nota_minima} puntos y fue {situacion}.'

In [16]:
resultados_rendimiento = rendimiento_estudiante(notas_alumnos)
print(resultados_rendimiento)

El estudiante obtuvo una media de 15.5, con la mayor nota de 20 puntos y la menor nota de 12 puntos y fue Aprobado.

In [17]:
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()

In [18]:
nombres_apellidos = map(lambda x, y: x.capitalize() + ' ' + y.capitalize(), nombres, apellidos)

In [19]:
nombres_apellidos = list(nombres_apellidos)
print(nombres_apellidos)

['Juan Silva', 'Maria Sosa', 'José Tavares']

In [38]:
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"

#situacion = lambda x: 'Aprobado(a)' if x >= 7 else 'Reprobado(a)'
#situacion(promedio)

def calcula_puntos(lista_goles_1, lista_goles_2):
  puntos_totales = 0
  for i in range(len(lista_goles_1)):
    if lista_goles_1[i] > lista_goles_2[i]:
      puntos_totales += 3
    elif lista_goles_1[i] == lista_goles_2[i]:
      puntos_totales += 1
    return puntos_totales

In [39]:
rendimiento = (puntos_totales / (len(goles_marcados) * 3)) * 100

In [40]:
resultado = calcula_puntos(goles_marcados, goles_recibidos)
print(resultado)

3

In [51]:

def xd(a,b):
  iterador = 0
  resultado = 0
  while iterador < len(a):
    if a[iterador] > b[iterador]:
      resultado += 3
    elif a[iterador] == b[iterador]:
      resultado += 1
    iterador += 1
  rendimiento = (resultado / (len(a)*3))*100
  return f'La puntuación del equipo fue {resultado} y su rendimiento fue {round(rendimiento,2)}`%'

In [52]:
xd(goles_marcados,goles_recibidos)

'La puntuación del equipo fue 7 y su rendimiento fue 46.67`%'

In [128]:
#Costo diario de hotel 150
#gasto de gasolina 14mk/l
#costo gasolina 5 reales/litro
#alimentación a realizar en cada una de ellas por día serían
kilometro_por_litro = 14
costo_diario_hotel = 150
precio_gasolina_litro = 5
ciudades = ['Salvador','Fortaleza','Natal','Aracaju']
alimentacion = [200, 400, 250, 300]
kilometros = [850, 800, 300, 550]

In [129]:
#Días de estadia en hotel
dias_hotel = int(input('Ingrese los dias de hospedaje:'))

Ingrese los dias de hospedaje:3

In [130]:
#Ciudad de destino
ciudad = input('Ingrese la ciudad a consultar')

Ingrese la ciudad a consultarSalvador

In [132]:
#Gasto de Hotel por los días de estadia
gasto_hotel = lambda x: x * 150
precio_hotel_total = gasto_hotel(dias_hotel)

In [133]:
#Función para convertir listas en diccionario
def convertir_listas_en_dict(lista_1, lista2):
  #zip une las listas y los convierte en tuplas
  pares = zip(lista_1, lista2)
  #dict convierte pares de tuplas en diccionario
  lista_convertida = dict(list(pares))
  return lista_convertida

In [134]:
ciudades_kilometros = convertir_listas_en_dict(ciudades,kilometros)

#Función para calcular el gasto de combustible de ida y vuelta
def gasto_gasolina_ida_y_vuelta(costo_combustile, ciudad):
  distancia_ida_y_vuelta = costo_combustile * (ciudades_kilometros[ciudad] / kilometro_por_litro)
  return distancia_ida_y_vuelta * 2

In [140]:
#Resultado
gasto_combustible_ida_vuelta = gasto_gasolina_ida_y_vuelta(precio_gasolina_litro, ciudad)
print(gasto_combustible_ida_vuelta)

607.1428571428571

In [136]:
ciudad_alimentacion = convertir_listas_en_dict(ciudades,alimentacion)

In [137]:
#Función para calcular el costo total del paseo(alimentación)
def gasto_paseo(ciudad_,dias):
  costo_paseo = ciudad_alimentacion[ciudad_] * dias
  return costo_paseo

In [138]:
gasto_por_paseo = gasto_paseo(ciudad,dias_hotel)

In [141]:
#Impresión final de resultados
mensaje = f'Con base en los gastos definidos, un viaje de {dias_hotel} días a {ciudad} desde recife costaría {round(precio_hotel_total + gasto_combustible_ida_vuelta + gasto_por_paseo,2)} reales.'
print(mensaje)

Con base en los gastos definidos, un viaje de 3 días a Salvador desde recife costaría 1657.14 reales.