<a href="https://colab.research.google.com/github/JoshDevx/EjerciciosPython/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.

In [ ]:
def leer_lista(lista):
  longitud = len(lista)
  mayor = max(lista)
  menor = min(lista)
  suma = sum(lista)
  print(f"La lista tiene {longitud} números, donde el mayor es {mayor} y el menor es {menor}. La suma de los valores es {suma}.")

In [ ]:
leer_lista(lista)

La lista tiene 17 números, donde el mayor es 99 y el menor es 11. La suma de los valores es 743.

In [ ]:
#Tabla de multiplicar
valor_usuario = input('Ingrese un numero')
def tabla_multiplicar(valor_usuario):
  for i in range(1,11):
    print(f'{valor_usuario} x {i} = {int(valor_usuario)*i}')

Ingrese un numero5

In [ ]:
tabla_multiplicar(valor_usuario)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
calcular_multiplos = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
def multiplos_de_3(calcular_multiplos):
  for i in range(len(calcular_multiplos)):
    if calcular_multiplos[i] % 3 == 0:
      print(calcular_multiplos[i])

In [ ]:
multiplos_de_3(calcular_multiplos)

24
99

In [ ]:
lista_numeros = [1,3,4,5,6,7,8,9,10]
cuadrados = map(lambda x: x**2,lista_numeros)

resultado = list(cuadrados)
print(resultado)

[1, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
cuenta  = 1
lista_notas = []
while cuenta <= 5:
  nota = int(input('Ingrese una nota'))
  lista_notas.append(nota)
  cuenta += 1
print(lista_notas)

Ingrese una nota12
Ingrese una nota15
Ingrese una nota16
Ingrese una nota18
Ingrese una nota20
[12, 15, 16, 18, 20]

In [ ]:
def detalle_notas(lista_notas_participante):
  calculo_1 = sum(lista_notas_participante) / len(lista_notas_participante)
  calculo_2 = max(lista_notas_participante)
  calculo_3 = min(lista_notas_participante)
  return f'El promedio de las notas es:{calculo_1}, la nota mamxima es:{calculo_2} y la nota minima es:{calculo_3}'

resultados_notas = detalle_notas(lista_notas)
print(resultados_notas)

El promedio de las notas es:16.2, la nota mamxima es:20 y la nota minima es:12

In [ ]:
notas_alumnos = [14,16,20,12]

In [ ]:
def rendimiento_estudiante(lista_notas_estudiantes):
  nota_maxima = max(lista_notas_estudiantes)
  nota_minima = min(lista_notas_estudiantes)
  media = sum(lista_notas_estudiantes) / len(lista_notas_estudiantes)
  if media >= 13:
    situacion =  'Aprobado'
  elif media >= 14:
    situacion = 'Desaprobado'
  return f'El estudiante obtuvo una media de {media}, con la mayor nota de {nota_maxima} puntos y la menor nota de {nota_minima} puntos y fue {situacion}.'

In [ ]:
resultados_rendimiento = rendimiento_estudiante(notas_alumnos)
print(resultados_rendimiento)

El estudiante obtuvo una media de 15.5, con la mayor nota de 20 puntos y la menor nota de 12 puntos y fue Aprobado.

In [ ]:
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()

In [ ]:
nombres_apellidos = map(lambda x, y: x.capitalize() + ' ' + y.capitalize(), nombres, apellidos)

In [ ]:
nombres_apellidos = list(nombres_apellidos)
print(nombres_apellidos)

['Juan Silva', 'Maria Sosa', 'José Tavares']

In [ ]:
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"

#situacion = lambda x: 'Aprobado(a)' if x >= 7 else 'Reprobado(a)'
#situacion(promedio)

def calcula_puntos(lista_goles_1, lista_goles_2):
  puntos_totales = 0
  for i in range(len(lista_goles_1)):
    if lista_goles_1[i] > lista_goles_2[i]:
      puntos_totales += 3
    elif lista_goles_1[i] == lista_goles_2[i]:
      puntos_totales += 1
    return puntos_totales

In [ ]:
rendimiento = (puntos_totales / (len(goles_marcados) * 3)) * 100

In [ ]:
resultado = calcula_puntos(goles_marcados, goles_recibidos)
print(resultado)

3

In [ ]:

def xd(a,b):
  iterador = 0
  resultado = 0
  while iterador < len(a):
    if a[iterador] > b[iterador]:
      resultado += 3
    elif a[iterador] == b[iterador]:
      resultado += 1
    iterador += 1
  rendimiento = (resultado / (len(a)*3))*100
  return f'La puntuación del equipo fue {resultado} y su rendimiento fue {round(rendimiento,2)}`%'

In [ ]:
xd(goles_marcados,goles_recibidos)

'La puntuación del equipo fue 7 y su rendimiento fue 46.67`%'

In [ ]:
#Costo diario de hotel 150
#gasto de gasolina 14mk/l
#costo gasolina 5 reales/litro
#alimentación a realizar en cada una de ellas por día serían
kilometro_por_litro = 14
costo_diario_hotel = 150
precio_gasolina_litro = 5
ciudades = ['Salvador','Fortaleza','Natal','Aracaju']
alimentacion = [200, 400, 250, 300]
kilometros = [850, 800, 300, 550]

In [ ]:
#Días de estadia en hotel
dias_hotel = int(input('Ingrese los dias de hospedaje:'))

Ingrese los dias de hospedaje:3

In [ ]:
#Ciudad de destino
ciudad = input('Ingrese la ciudad a consultar')

Ingrese la ciudad a consultarSalvador

In [ ]:
#Gasto de Hotel por los días de estadia
gasto_hotel = lambda x: x * 150
precio_hotel_total = gasto_hotel(dias_hotel)

In [ ]:
#Función para convertir listas en diccionario
def convertir_listas_en_dict(lista_1, lista2):
  #zip une las listas y los convierte en tuplas
  pares = zip(lista_1, lista2)
  #dict convierte pares de tuplas en diccionario
  lista_convertida = dict(list(pares))
  return lista_convertida

In [ ]:
ciudades_kilometros = convertir_listas_en_dict(ciudades,kilometros)

#Función para calcular el gasto de combustible de ida y vuelta
def gasto_gasolina_ida_y_vuelta(costo_combustile, ciudad):
  distancia_ida_y_vuelta = costo_combustile * (ciudades_kilometros[ciudad] / kilometro_por_litro)
  return distancia_ida_y_vuelta * 2

In [ ]:
#Resultado
gasto_combustible_ida_vuelta = gasto_gasolina_ida_y_vuelta(precio_gasolina_litro, ciudad)
print(gasto_combustible_ida_vuelta)

607.1428571428571

In [ ]:
ciudad_alimentacion = convertir_listas_en_dict(ciudades,alimentacion)

In [ ]:
#Función para calcular el costo total del paseo(alimentación)
def gasto_paseo(ciudad_,dias):
  costo_paseo = ciudad_alimentacion[ciudad_] * dias
  return costo_paseo

In [ ]:
gasto_por_paseo = gasto_paseo(ciudad,dias_hotel)

In [ ]:
#Impresión final de resultados
mensaje = f'Con base en los gastos definidos, un viaje de {dias_hotel} días a {ciudad} desde recife costaría {round(precio_hotel_total + gasto_combustible_ida_vuelta + gasto_por_paseo,2)} reales.'
print(mensaje)

Con base en los gastos definidos, un viaje de 3 días a Salvador desde recife costaría 1657.14 reales.

***Tuplas***


*   Estructuras de datos inmutables
*   Agrupar datos que no deben modificarse


*  Para crear una tupla, simplemente separamos sus elementos por comas y los envolvemos entre paréntesis.

In [1]:
#Tupla
registro = ("Julia", 23, "CDMX", "EM", "Python para DS 1")

In [2]:
#Acceder a los valores de una Tupla
print(registro[0])  # imprime Julia
print(registro[-1])  # imprime Python para DS 1

Julia
Python para DS 1

In [8]:
#Al ser un iterable podemos desempaquetar los datos de muna tupla pasando cada valor a una variable
nombre, edad, ciudad, estado, curso = registro

In [9]:
print(f'La estudiante {nombre} tiene {edad} años y vive en {ciudad}-{estado}. Ella está matriculada en el curso de {curso}.')

La estudiante Julia tiene 23 años y vive en CDMX-EM. Ella está matriculada en el curso de Python para DS 1.

In [10]:
#usando Zip
#toma uno o más iterables (lista, cadena, diccionario, etc.) y los devuelve como un iterador de tuplas donde cada elemento de los iterables está emparejado.
objeto_zip = zip([1, 2, 3])
objeto_zip

In [12]:
list(objeto_zip)

[(1,), (2,), (3,)]

In [13]:
id = [1, 2, 3, 4, 5]
region = ["Norte", "Oriente", "Sudeste", "Centro", "Sur"]

mapa = list(zip(id, region))
mapa

[(1, 'Norte'), (2, 'Oriente'), (3, 'Sudeste'), (4, 'Centro'), (5, 'Sur')]

In [14]:
#si las listas de entrada tienen longitudes diferentes, la salida contendrá el mismo número de tuplas que la lista de menor longitud y los elementos restantes de los otros iterables se ignorarán.
codigos = ["1000", "1001", "1002", "1003", "1004", "1005"]
frutas = ["manzana", "uva", "banana", "naranja"]

mercancia = list(zip(codigos, frutas))
mercancia

[('1000', 'manzana'), ('1001', 'uva'), ('1002', 'banana'), ('1003', 'naranja')]

In [15]:
#Para realizar el proceso contrario, de transformar una tupla iterable en listas,
#basta con colocar el operador asterisco (*) al lado izquierdo del nombre de la tupla iterable que se desea extraer los datos, transmitiendo cada tupla a una variable.
tupla_iterable = [('J392', 'Juan'), ('M890', 'Maria'), ('J681', 'José'), ('C325', 'Claudia'), ('A49', 'Ana')]
ids, nombres = zip(*tupla_iterable)

ids = list(ids)
nombres = list(nombres)

print("IDs = ", ids)
print("Nombres = ", nombres)

IDs =  ['J392', 'M890', 'J681', 'C325', 'A49']
Nombres =  ['Juan', 'Maria', 'José', 'Claudia', 'Ana']

In [ ]:
#Crea un código para imprimir la suma de los elementos de cada una de las listas contenidas en la siguiente lista:
#[expresion for item in lista]

In [16]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]
def suma_lista(lista_de_listas):
  suma = [sum(x) for x in lista_de_listas]
  return suma

In [23]:
sumas = suma_lista(lista_de_listas)
sumas

[24, 10, 16]

In [32]:
cuadrados_de_suma = [x**2 for x in sumas]
cuadrados_de_suma

[576, 100, 256]

In [31]:
cuadrados_de_suma

[576, 100, 256]

In [ ]:
# Crea un código para generar una lista que almacene el tercer elemento de cada tupla contenida en la siguiente lista de tuplas:

In [33]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [34]:
tercer_elemento = [x[2] for x in lista_de_tuplas]
tercer_elemento

[81, 67, 83]

In [45]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

In [49]:
resultado = [(i, nombre) for i, nombre in enumerate(lista)]
print(resultado)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [50]:
alquiler = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [51]:
valor_numerico = [dato[1] for dato in alquiler if dato[0] == 'Apartamento']
valor_numerico

[1700, 1400, 1900]

In [57]:
#{llave: valor for item in lista}
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
gasto = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]
lista_mes_gasto = [meses, gasto]
lista_mes_gasto

[['Jan',
  'Fev',
  'Mar',
  'Abr',
  'Mai',
  'Jun',
  'Jul',
  'Ago',
  'Set',
  'Out',
  'Nov',
  'Dez'],
 [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]]

In [60]:
llaves = ['Meses', 'Gastos']
meses_gasto = {llaves[i]: lista_mes_gasto[i] for i in range(len(llaves))}

meses_gasto

{'Meses': ['Jan',
  'Fev',
  'Mar',
  'Abr',
  'Mai',
  'Jun',
  'Jul',
  'Ago',
  'Set',
  'Out',
  'Nov',
  'Dez'],
 'Gastos': [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]}

In [61]:
ventas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [66]:
datos_ventas = [dato for dato in ventas if dato[0] == '2022' and dato[1] > 6000]
datos_ventas

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [71]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [73]:
resultado = [
    ('Hipoglicemia', valor) if valor < 70 else
    ('Normal', valor) if valor <= 99 else
    ('Alterada', valor) if valor <= 125 else
    ('Diabetes', valor)
    for valor in glicemia
]

print(resultado)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [74]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
cantidad = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
precio = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [75]:
precio_total = [x * a for x,a in zip(precio,cantidad)]
precio_total

[1395.0, 1224.0, 18.0, 615.0, 244.0, 154.0, 142.0, 576.0, 28.0, 576.0]

In [76]:
lista_ventas = [id, cantidad, precio, precio_total]
lista_ventas

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [15, 12, 1, 15, 2, 11, 2, 12, 2, 4],
 [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0],
 [1395.0, 1224.0, 18.0, 615.0, 244.0, 154.0, 142.0, 576.0, 28.0, 576.0]]

In [82]:
columnas_ventas =['ID', 'Cantidad', 'Precio', 'Precio Total']

In [93]:
tabla_ventas = list(zip( id, cantidad, precio, precio_total))
tabla_ventas = [columnas_ventas, tabla_ventas]
tabla_ventas

[['ID', 'Cantidad', 'Precio', 'Precio Total'],
 [(0, 15, 93.0, 1395.0),
  (1, 12, 102.0, 1224.0),
  (2, 1, 18.0, 18.0),
  (3, 15, 41.0, 615.0),
  (4, 2, 122.0, 244.0),
  (5, 11, 14.0, 154.0),
  (6, 2, 71.0, 142.0),
  (7, 12, 48.0, 576.0),
  (8, 2, 14.0, 28.0),
  (9, 4, 144.0, 576.0)]]

In [94]:
#Tipos de Excepciones
#SyntaxError
#Ocurre cuando el analizador detecta un error en la descripción del código
print(10 / 2

SyntaxError: incomplete input (ipython-input-94-1595265682.py, line 4)

In [95]:
#NameError
#Excepción lanzada cuando intentamos utilizar un nombre de algún elemento que no está presente en nuestro código.
raiz = sqrt(100)

NameError: name 'sqrt' is not defined

In [96]:
#IndexError
#Excepción lanzada cuando intentamos indexar alguna estructura de datos como lista, tupla o incluso una cadena más allá de sus límites.
lista = [1, 2, 3]
lista[4]

IndexError: list index out of range

In [97]:
#TypeError
#Excepción lanzada cuando un operador o función se aplican a un objeto cuyo tipo es inapropiado.
"1" + 1

TypeError: can only concatenate str (not "int") to str

In [98]:
#KeyError
#Excepción lanzada cuando intentamos acceder a una clave que no está en el diccionario presente en nuestro código.
estados = {'EM': 1, 'JC': 2, 'OA': 3}
estados["MI"]

KeyError: 'MI'

In [ ]:
#Warning
#Excepción lanzada en situaciones en las que necesitamos alertar al usuario sobre algunas condiciones del código
import numpy as np

a = np.arange(5)
a / a  # presenta una advertencia